/* reading start */
.reading-custom-heading-decorator.before-heading-decorator::before,
.reading-custom-heading-decorator.after-heading-decorator::after {
  display: inline-block;
  content: attr(data-heading-decorator);
  opacity: 20%;
  transition: 0.25s ease-out;
}

.reading-custom-heading-decorator.before-inside-heading-decorator,
.reading-custom-heading-decorator.after-inside-heading-decorator {
  opacity: 20%;
  user-select: none;
}

.reading-custom-heading-decorator.before-inside-heading-decorator,
.reading-custom-heading-decorator.before-heading-decorator::before {
  margin-inline-end: var(--size-2-3);
}

.is-collapsed
  > .reading-custom-heading-decorator.before-heading-decorator::before,
.is-collapsed
  > .reading-custom-heading-decorator.before-heading-decorator[dir="auto"]::before,
.is-collapsed
  > .reading-custom-heading-decorator.before-heading-decorator[dir="ltr"]::before,
.markdown-preview-view.allow-fold-headings
  .reading-custom-heading-decorator.before-heading-decorator:hover::before,
.markdown-preview-view.allow-fold-headings
  .reading-custom-heading-decorator.before-heading-decorator[dir="auto"]:hover::before,
.markdown-preview-view.allow-fold-headings
  .reading-custom-heading-decorator.before-heading-decorator[dir="ltr"]:hover::before {
  translate: calc(-1 * var(--size-4-3));
}

.is-collapsed
  > .reading-custom-heading-decorator.before-heading-decorator[dir="rtl"]::before,
.markdown-preview-view.allow-fold-headings
  .reading-custom-heading-decorator.before-heading-decorator[dir="rtl"]:hover::before {
  translate: var(--size-4-3);
}

.reading-custom-heading-decorator.after-inside-heading-decorator,
.reading-custom-heading-decorator.after-heading-decorator::after {
  margin-inline-start: var(--size-2-3);
}

.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="10%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="10%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="10%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="10%"]::after {
  opacity: 10%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="20%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="20%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="20%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="20%"]::after {
  opacity: 20%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="30%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="30%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="30%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="30%"]::after {
  opacity: 30%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="40%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="40%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="40%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="40%"]::after {
  opacity: 40%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="50%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="50%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="50%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="50%"]::after {
  opacity: 50%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="60%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="60%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="60%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="60%"]::after {
  opacity: 60%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="70%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="70%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="70%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="70%"]::after {
  opacity: 70%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="80%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="80%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="80%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="80%"]::after {
  opacity: 80%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="90%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="90%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="90%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="90%"]::after {
  opacity: 90%;
}
.reading-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="100%"],
.reading-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="100%"],
.reading-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="100%"]::before,
.reading-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="100%"]::after {
  opacity: 100%;
}
/* reading end */

/* preview start */
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  display: inline-block;
  content: attr(data-heading-decorator);
  opacity: 20%;
  transition: 0.25s ease-out;
}

.preview-custom-heading-decorator.before-inside-heading-decorator,
.preview-custom-heading-decorator.after-inside-heading-decorator {
  opacity: 20%;
  user-select: none;
}

.cm-focused
  .cm-active
  .preview-custom-heading-decorator.before-inside-heading-decorator,
.cm-line:has(.cm-header.cm-formatting)
  .preview-custom-heading-decorator.before-inside-heading-decorator,
.cm-focused
  .cm-active
  .preview-custom-heading-decorator.after-inside-heading-decorator,
.cm-line:has(.cm-header.cm-formatting)
  .preview-custom-heading-decorator.after-inside-heading-decorator {
  display: none;
}

.preview-custom-heading-decorator.before-inside-heading-decorator,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before {
  margin-inline-end: var(--size-2-3);
}

.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header)):has(> .is-collapsed)::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="auto"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header)):has(> .is-collapsed)::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="ltr"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header)):has(> .is-collapsed)::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):not(
    :has(.cm-header.cm-formatting-header)
  ):hover::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="auto"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):not(
    :has(.cm-header.cm-formatting-header)
  ):hover::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="ltr"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):not(
    :has(.cm-header.cm-formatting-header)
  ):hover::before {
  translate: calc(-1 * var(--size-4-3));
}

.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="rtl"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header)):has(> .is-collapsed)::before,
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[dir="rtl"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):not(
    :has(.cm-header.cm-formatting-header)
  ):hover::before {
  translate: var(--size-4-3);
}

.preview-custom-heading-decorator.after-inside-heading-decorator,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  margin-inline-start: var(--size-2-3);
}

.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="10%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="10%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="10%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="10%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 10%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="20%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="20%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="20%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="20%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 20%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="30%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="30%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="30%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="30%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 30%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="40%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="40%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="40%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="40%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 40%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="50%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="50%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="50%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="50%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 50%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="60%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="60%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="60%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="60%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 60%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="70%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="70%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="70%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="70%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 70%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="80%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="80%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="80%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="80%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 80%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="90%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="90%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="90%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="90%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 90%;
}
.preview-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="100%"],
.preview-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="100%"],
.is-live-preview
  .preview-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="100%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::before,
.is-live-preview
  .preview-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="100%"]:not(
    .cm-focused .cm-active
  ):not(:has(.cm-header.cm-formatting-header))::after {
  opacity: 100%;
}
/* preview end */

/* source start */
.source-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator:not(
    .cm-focused .cm-active
  )::after {
  display: inline-block;
  content: attr(data-heading-decorator);
  opacity: 20%;
  transition: 0.25s ease-out;
}

.source-custom-heading-decorator.before-inside-heading-decorator,
.source-custom-heading-decorator.after-inside-heading-decorator {
  opacity: 20%;
  user-select: none;
}

.cm-focused
  .cm-active
  .source-custom-heading-decorator.before-inside-heading-decorator,
.cm-focused
  .cm-active
  .source-custom-heading-decorator.after-inside-heading-decorator {
  display: none;
}

.source-custom-heading-decorator.before-inside-heading-decorator,
.source-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  )::before {
  margin-inline-end: var(--size-2-3);
}

.source-custom-heading-decorator.before-heading-decorator:not(
    .cm-focused .cm-active
  ):has(> .is-collapsed)::before,
.source-custom-heading-decorator.before-heading-decorator[dir="auto"]:not(
    .cm-focused .cm-active
  ):has(> .is-collapsed)::before,
.source-custom-heading-decorator.before-heading-decorator[dir="ltr"]:not(
    .cm-focused .cm-active
  ):has(> .is-collapsed)::before,
.source-custom-heading-decorator.before-heading-decorator:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):hover::before,
.source-custom-heading-decorator.before-heading-decorator[dir="auto"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):hover::before,
.source-custom-heading-decorator.before-heading-decorator[dir="ltr"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):hover::before {
  translate: calc(-1 * var(--size-4-3));
}

.source-custom-heading-decorator.before-heading-decorator[dir="rtl"]:not(
    .cm-focused .cm-active
  ):has(> .is-collapsed)::before,
.source-custom-heading-decorator.before-heading-decorator[dir="rtl"]:has(
    .cm-fold-indicator
  ):not(.cm-focused .cm-active):hover::before {
  translate: var(--size-4-3);
}

.source-custom-heading-decorator.after-inside-heading-decorator,
.source-custom-heading-decorator.after-heading-decorator:not(
    .cm-focused .cm-active
  )::after {
  margin-inline-start: var(--size-2-3);
}

.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="10%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="10%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="10%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="10%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 10%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="20%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="20%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="20%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="20%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 20%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="30%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="30%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="30%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="30%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 30%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="40%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="40%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="40%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="40%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 40%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="50%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="50%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="50%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="50%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 50%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="60%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="60%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="60%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="60%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 60%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="70%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="70%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="70%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="70%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 70%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="80%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="80%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="80%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="80%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 80%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="90%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="90%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="90%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="90%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 90%;
}
.source-custom-heading-decorator.before-inside-heading-decorator[data-decorator-opacity="100%"],
.source-custom-heading-decorator.after-inside-heading-decorator[data-decorator-opacity="100%"],
.source-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="100%"]:not(
    .cm-focused .cm-active
  )::before,
.source-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="100%"]:not(
    .cm-focused .cm-active
  )::after {
  opacity: 100%;
}
/* source end */

/* outline start */
.outline-custom-heading-decorator.before-heading-decorator::before,
.outline-custom-heading-decorator.after-heading-decorator::after {
  content: attr(data-heading-decorator);
  opacity: 20%;
}

.outline-custom-heading-decorator.before-heading-decorator::before {
  margin-inline-end: var(--size-4-1);
}

.outline-custom-heading-decorator.after-heading-decorator::after {
  margin-inline-start: var(--size-4-1);
}

.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="10%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="10%"]::after {
  opacity: 10%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="20%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="20%"]::after {
  opacity: 20%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="30%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="30%"]::after {
  opacity: 30%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="40%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="40%"]::after {
  opacity: 40%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="50%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="50%"]::after {
  opacity: 50%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="60%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="60%"]::after {
  opacity: 60%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="70%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="70%"]::after {
  opacity: 70%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="80%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="80%"]::after {
  opacity: 80%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="90%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="90%"]::after {
  opacity: 90%;
}
.outline-custom-heading-decorator.before-heading-decorator[data-decorator-opacity="100%"]::before,
.outline-custom-heading-decorator.after-heading-decorator[data-decorator-opacity="100%"]::after {
  opacity: 100%;
}
/* outline end */
